## Math problem

In [ ]:
class Math1:
    def isEven(self, number):
        if number%2:
            return False
        else:
            return True
    
    def factorial(self, number):
        result = 1
        
        for i in range(1, number+1):
            result = result*i
            
        return result

In [ ]:
# test Math1
math1 = Math1()

# isEven() sample: number=5 -> False
# isEven() sample: number=6 -> True
print(math1.isEven(5))
print(math1.isEven(6))

# factorial() sample: number=4 -> 24
# factorial() sample: number=5 -> 120
print(math1.factorial(4))
print(math1.factorial(5))

In [ ]:
class Math2:
    def isEven(self, number):
        if number%2:
            return False
        else:
            return True
    
    def factorial(self, number):
        result = 1
        
        for i in range(1, number+1):
            result = result*i
            
        return result
    
    def estimateEuler(self, number):
        result = 1
        
        for i in range(1, number+1):
            result = result + 1/self.factorial(i)
            
        return result

In [ ]:
# test Math2
math2 = Math2()

# isEven() sample: number=5 -> False
# isEven() sample: number=6 -> True
print(math2.isEven(5))
print(math2.isEven(6))

# factorial() sample: number=4 -> 24
# factorial() sample: number=5 -> 120
print(math2.factorial(4))
print(math2.factorial(5))

# estimateEuler() sample: number=2 -> 2.5
# estimateEuler() sample: number=8 -> 2.71
print(math2.estimateEuler(2))
print(math2.estimateEuler(8))

In [ ]:
# using inheritance

In [ ]:
class Math1:
    def isEven(self, number):
        if number%2:
            return False
        else:
            return True
    
    def factorial(self, number):
        result = 1
        
        for i in range(1, number+1):
            result = result*i
            
        return result

In [ ]:
class Math2(Math1):    
    def estimateEuler(self, number):
        result = 1
        
        for i in range(1, number+1):
            result = result + 1/self.factorial(i)
            
        return result

In [ ]:
# test Math2
math2 = Math2()

# isEven() sample: number=5 -> False
# isEven() sample: number=6 -> True
print(math2.isEven(5))
print(math2.isEven(6))

# factorial() sample: number=4 -> 24
# factorial() sample: number=5 -> 120
print(math2.factorial(4))
print(math2.factorial(5))

# estimateEuler() sample: number=2 -> 2.5
# estimateEuler() sample: number=8 -> 2.71
print(math2.estimateEuler(2))
print(math2.estimateEuler(8))

In [ ]:
class Math1:
    def isEven(self, number):
        if number%2:
            return False
        else:
            return True
    
    def factorial(self, number):
        result = 1
        
        for i in range(1, number+1):
            result = result*i
            
        return result

In [ ]:
class Math2(Math1):    
    def estimateEuler(self, number):
        result = 1
        
        for i in range(1, number+1):
            result = result + 1/super().factorial(i)
            
        return result

In [ ]:
# test Math2
math2 = Math2()

# isEven() sample: number=5 -> False
# isEven() sample: number=6 -> True
print(math2.isEven(5))
print(math2.isEven(6))

# factorial() sample: number=4 -> 24
# factorial() sample: number=5 -> 120
print(math2.factorial(4))
print(math2.factorial(5))

# estimateEuler() sample: number=2 -> 2.5
# estimateEuler() sample: number=8 -> 2.71
print(math2.estimateEuler(2))
print(math2.estimateEuler(8))

False
True
24
120
2.5
2.71827876984127

## Employee problem

In [ ]:
class Employee:
    def __init__(self, name, salary):
        self._name = name
        self._salary = salary
        
    def computeSalary(self):
        return self._salary
    
class Manager(Employee):
    def __init__(self, name, salary, bonus):
        self._name = name
        self._salary = salary
        self.__bonus = bonus
        
    def computeSalary(self):
        return super().computeSalary() + self.__bonus

In [ ]:
peter = Manager('Peter', 100, 20)
salary = peter.computeSalary()
print(f'Peter Salary: {salary}')

Peter Salary: 120

## Shape

In [ ]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def computeArea(self):
        pass

In [ ]:
class Square(Shape):
    def __init__(self, side):
        self.__side = side
        
    def computeArea(self):
        return self.__side*self.__side

In [ ]:
square = Square(5)
print(square.computeArea())

25

In [ ]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def computeArea(self):
        pass

In [ ]:
class Cicle(Shape):
    def __init__(self, radius):
        self.__radius = radius

In [ ]:
circle = Cicle(5)

TypeError: Can't instantiate abstract class Cicle with abstract method computeArea

In [ ]:
import math

class Cicle(Shape):
    def __init__(self, radius):
        self.__radius = radius
        
    def computeArea(self):
        return self.__radius*self.__radius*math.pi

In [ ]:
circle = Cicle(5)
print(circle.computeArea())

78.53981633974483

## Person - Doctor - Student

In [ ]:
class Person:
    def perform(self):
        print('Person activities')
        
class Doctor(Person):
    def perform(self):
        print('Doctor activities')
        
class Student(Person):
    def perform(self):
        print('Student activities')

In [ ]:
person = Person()
person.perform()

Person activities

In [ ]:
doctor = Doctor()
doctor.perform()

Doctor activities

In [ ]:
student = Student()
student.perform()

Student activities